[buildout]
allow-picked-versions = false

parts =
    instance
    zopepy
    upgrade
    omelette

# If you want to get the last versions of eggs, you have to comment the line "versions-prod.cfg"
extends =
    http://dist.plone.org/release/5-latest/versions.cfg
    versions.cfg

# index = https://pypi.python.org/simple/

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow

zcml =

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
zserver-threads = 2
debug-mode = off
verbose-security = off
environment-vars =
  zope_i18n_compile_mo_files true
  TZ Europe/Brussels
#  PLONE_CSRF_DISABLED True

eggs =
    ${buildout:eggs}
    collective.realestate
    plone.app.mosaic

zcml =
    ${buildout:zcml}
    collective.realestate
    plone.app.mosaic


[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy


[debug-products]
eggs =
    Products.PrintingMailHost
    ipdb
    wildcard.fixpersistentutilities
    Products.PDBDebugMode


[upgrade]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
scripts = upgrade-portals
arguments = args=[
    '--zope-conf', '${instance:location}/etc/zope.conf',
    '--log-file', '${buildout:directory}/var/log/upgrade.log']
