[buildout]
extends =
    base.cfg
    sources.cfg

extensions =
    mr.developer

allow-picked-versions = true
show-picked-versions = true

auto-checkout +=
    collective.realestate
    collective.eeafaceted.layoutwidget
    collective.autoscaling

parts +=
    instance-debug
    zeoserver
    backup

[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = 8100
pack-days = 7
pack-keep-old = false
zeo-conf-additional =
  %define FILESTORAGE /data/filestorage
  %define BLOBSTORAGE /data/blobstorage


[instance]
recipe = plone.recipe.zope2instance
zeo-client = true
zeo-address = $(ZEO_HOST):$(ZEO_PORT)
shared-blob = off
http-force-connection-close = true
http-address = 8080
user = admin:admin
zodb-cache-size = 30000
zeo-client-cache-size = 256MB
# zeo-client-client = zeoclient

event-log-custom =
    <logfile>
        path ${buildout:directory}/var/log/${:_buildout_section_name_}.log
        level INFO
    </logfile>

zcml =

[instance-debug]
<= instance
http-address = 8088
debug-mode = on
verbose-security = on
shared-blob = off
#environment-vars +=
#    ENABLE_PRINTING_MAILHOST True
eggs =
    ${instance:eggs}
    ${debug-products:eggs}
zcml =
    ${instance:zcml}


[backup]
recipe = collective.recipe.backup
location = /backups/filestorage
blob-storage = /data/blobstorage
blobbackuplocation = /backups/blobstorage
